ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top:0;
  width:100%;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 50px;
}

li a:hover {
  background-color: #111;
}

nav li:last-child a{
  border-right: none;
}

.active{
  background-color: darkgreen;
}

section.border_top{
  border-top-style: solid;
}

section.border_bottom{
  border-bottom-style:solid;
}

section.center{
  text-align: center;
}

span{
  display:inline-block;
  width: 5em;
}

.box11{
  width : 95%;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #000000;
  /* border-top: solid 5px #5d627b; */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box11 p {
  margin: 0; 
  padding: 0;
}